<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.spring.pojo.Cat"/>
    <bean class="com.spring.pojo.Dog"/>

    <!-- 手动装配， 代码重复-->
    <!--<bean id="people" class="com.spring.pojo.People">
        <property name="cat" ref="cat"/>
        <property name="dog" ref="dog"/>
        <property name="name" value="乐小猿"/>
    </bean>-->

    <!--自动装配autowire-->
    <!--
        byName：会自动在容器上下文找，和自己对象set方法中的对应的bean 的id，id要唯一
        byType:会自动在容器上下文找，和自己对象属性类型相同的bean，不用起id，class要唯一
    -->
    <bean id="people" class="com.spring.pojo.People" autowire="byType">
        <property name="name" value="乐小猿"/>
    </bean>


</beans>