<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 默认-无参构造 -->
    <!--<bean id="user" class="com.spring.pojo.User">
        <property name="name" value="乐小猿-默认无参构造"/>
    </bean>-->

    <!--第一种方式：下标赋值-->
    <!--<bean id="user" class="com.spring.pojo.User">
        <constructor-arg index="0" value="乐小猿-下标赋值" />
    </bean>-->

    <!--第二种方式：通过类型创建，不建议使用-->
    <!--<bean id="user" class="com.spring.pojo.User">
        <constructor-arg type="java.lang.String" value="乐小猿-通过类型创建" />
    </bean>-->

    <!-- 第三种方式：通过参数名来设置 -->
    <!-- name属性也是别名，可以去多个，空格，逗号，分号都可以做分隔符-->
    <bean id="user" class="com.spring.pojo.User" name="user2, user3 user4; user5">
        <constructor-arg name="name" value="乐小猿-通过参数名来设置"/>
    </bean>

    <!-- 别名，可以使用别名获取到这个对象-->
    <alias name="user" alias="userNew"/>

</beans>